<div class="card">
  <div class="card-footer">
    <span class="table-add float-left mb-3 mr-2">
      <a class="text-primary">
        <i class="fa fa-plus" aria-hidden="true" data-toggle="modal" data-target="#ModalAdd"></i>
      </a>
    </span>
  </div>
  <div class="card-body">
    <div id="table" class="table-editable">
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">Id</th>
          <th class="text-center">Pendiente</th>
          <th class="text-center">Fecha</th>
          <th class="text-center">Eliminar</th>
          <th class="text-center">Editar</th>
        </tr>
        <tr *ngFor="let pending of pendings; let id = index">
          <td>
            <span>{{pending.idPendiente}}</span>
          </td>
          <td>
            <span>{{pending.pendiente}}</span>
          </td>
          <td>
            <span>{{pending.fechapendiente | date:'medium'}}</span>
          </td>
          <td>
            <span>
              <button type="button" class="btn btn-danger" (click)="remove(id)">Eliminar</button>
            </span>
          </td>
          <td>
            <span>
              <button type="button" class="btn btn-warning" aria-hidden="true" data-toggle="modal" data-target="#ModalEdit" (click)="edit(id)">Editar</button>
            </span>
          </td>
        </tr>
      </table>
      <label>Total de Registros {{pendings.length}}</label>
    </div>
  </div>
</div>

<!-- Modal Add -->
<div class="modal fade" id="ModalAdd" tabindex="-1" role="dialog" aria-labelledby="ModalAddTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Agregar Pendiente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="message-text" class="col-form-label">Pendiente:</label>
          <textarea [(ngModel)]="pendingAdd" class="form-control"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetData()">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="!pendingAdd" (click)="addPending()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Edit -->
<div class="modal fade" id="ModalEdit" tabindex="-1" role="dialog" aria-labelledby="ModalEditTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Editar Pendiente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="message-text" class="col-form-label">Id:</label>
            <input type="text" [(ngModel)]="idPending" class="form-control" disabled>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Pendiente:</label>
            <textarea [(ngModel)]="pendingEdit" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Fecha:</label>
            <input type="text" [(ngModel)]="date" class="form-control" disabled>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetData()">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="update()" data-dismiss="modal" [disabled]="!pendingEdit">Editar</button>
        </div>
      </div>
    </div>
  </div>
